Comparing which Libraries emphasize which types of Book

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Data Cleaning

download Louisville Public Library Collection data. Completed 12/18/2024 from https://data.louisvilleky.gov/

In [20]:

# # reading this in is no longer necessary, split it into 25 sections, ran summary functions to verify data integrity
# library_collection = pd.read_csv("Louisville_Metro_Library_Inventory.csv")

# len(library_collection) # finding total number of rows (1657555)

# # k = number of chunks, size = number of rows per chunk
# k = 25
# size = 66303
# for i in range(k): # this divides the large CSV into sections that github can handle and names them 1-25
#     separation = library_collection[size*i:size*(i+1)]
#     separation.to_csv(f'collection_{i+1}.csv', index=False)

In [33]:
c1 = pd.read_csv('librarycollection/collection_1.csv')
c2 = pd.read_csv('librarycollection/collection_2.csv')
c3 = pd.read_csv('librarycollection/collection_3.csv')
c4 = pd.read_csv('librarycollection/collection_4.csv')
c5 = pd.read_csv('librarycollection/collection_5.csv')
c6 = pd.read_csv('librarycollection/collection_6.csv')
c7 = pd.read_csv('librarycollection/collection_7.csv')
c8 = pd.read_csv('librarycollection/collection_8.csv')
c9 = pd.read_csv('librarycollection/collection_9.csv')
c10 = pd.read_csv('librarycollection/collection_10.csv')
c11 = pd.read_csv('librarycollection/collection_11.csv')
c12 = pd.read_csv('librarycollection/collection_12.csv')
c13 = pd.read_csv('librarycollection/collection_13.csv')
c14 = pd.read_csv('librarycollection/collection_14.csv')
c15 = pd.read_csv('librarycollection/collection_15.csv')
c16 = pd.read_csv('librarycollection/collection_16.csv')
c17 = pd.read_csv('librarycollection/collection_17.csv')
c18 = pd.read_csv('librarycollection/collection_18.csv')
c19 = pd.read_csv('librarycollection/collection_19.csv')
c20 = pd.read_csv('librarycollection/collection_20.csv')
c21 = pd.read_csv('librarycollection/collection_21.csv')
c22 = pd.read_csv('librarycollection/collection_22.csv')
c23 = pd.read_csv('librarycollection/collection_23.csv')
c24 = pd.read_csv('librarycollection/collection_24.csv')
c25 = pd.read_csv('librarycollection/collection_25.csv')

In [28]:
library_collection = pd.concat([c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16, c17,
                                c18, c19, c20, c21, c22, c23, c24, c25])

In [29]:
def cleaning_data(library_collection):
    library_collection = library_collection.dropna(subset = ["ItemCollection", "ItemLocation"])
    library_collection = library_collection.drop(['BibNum', 'Title','Author','ISBN','ReportDate','ObjectId'], axis=1)
    library_collection = library_collection[~library_collection["ItemCollection"].isin(["Music", "Listening Device", 
                                                                                        "Children's Music", "Children's DVD", 
                                                                                        "Laptop", "Adult DVD", "Interlibrary Loan", "NaN",
                                                                                        "Electronic", "Adult Blu-Ray", "Children's Blu-ray",
                                                                                        "Digital Camera","Telescope","Hotspot","Board Game", "Launchpad"])]
    
    return library_collection
librarycleaner = cleaning_data(library_collection)

In [30]:

def combining_collections(librarycleaner):
    """
    This function combines ItemCollection into adult, teen, and children. 
    It also removes collections that cannot be sorted by age. The categories and sorting are:
Adult = Adult Non-Fiction, Adult Fiction, Adult Paperback, Adult Audiobook, Adult Reference, 
    Adult Paperbacks Tall, Mystery, Kentucky History, Large Print, Science Fiction, International Collection, 
    Magazines and Newspaper, Government Documents, Urban Fiction, Western
Teen = Teen Non-Fiction, Older Teen Fiction, Younger Teen  Fiction, Younger Teen  Audiobook, 
    OlderTeen Audiobook, Younger Teen  Paperback, Older Teen Paperback, Teen Non-Fiction Audiobook, 
    College Shop, Teen Reference  
Children = Children's Non-Fiction, Children's Picture Book, Preschool Picture Book, Children's Fiction, 
    Children's Paperback, Children's Easy Reader, Children's Board Book, Children's Easy Reader Paperback, 
    Children's Picture Paperback, Children's Audiobook, Storytime Collection, Readalongs, Children's Magazine, 
    Children's Reference, Children's Non-Fiction Paperback  
Unsorted/removed = Caldecott/Newbery, Oversize, ELL Collection, Bestsellers, Natural Resources, 
    Book Discussion Kit, Big Book, Telereference, Holiday

The second part of the function simplifies the locations of the items.
    Remote Shelving - Main is combined with Main
    Childrens Main Library is combined with Main
    Main Teen is combined with Main
    Remote Shelving - Shawnee is combined with Shawnee
    Childrens Bookmobile, Adult Bookmobile, and Content Management are removed as they have no physical location
    """
    librarycleaner = librarycleaner[~librarycleaner["ItemCollection"].isin(["Caldecott/Newbery", "Oversize", "ELL Collection",
                                                                            "Bestsellers", "Natural Resources", 
                                                                            "Book Discussion Kit", "Big Book", "Telereference", "Holiday"])]
    librarycleaner["ItemCollection"] = librarycleaner["ItemCollection"].replace(["Adult Non-Fiction", "Adult Fiction", "Adult Paperback", "Adult Audiobook", 
                                                                                 "Adult Reference", "Adult Paperbacks Tall", "Mystery", "Kentucky History", 
                                                                                 "Large Print", "Science Fiction", "International Collection", 
                                                                                 "Magazines and Newspaper", "Government Documents", "Urban Fiction", 
                                                                                 "Western"], "Adult")
    librarycleaner["ItemCollection"] = librarycleaner["ItemCollection"].replace(["Teen Non-Fiction", "Older Teen Fiction", "Younger Teen  Fiction", 
                                                                                 "Younger Teen  Audiobook", "OlderTeen Audiobook", "Younger Teen  Paperback", 
                                                                                 "Older Teen Paperback", "Teen Non-Fiction Audiobook", "College Shop",
                                                                                 "Teen Reference"], "Teen")
    librarycleaner["ItemCollection"] = librarycleaner["ItemCollection"].replace(["Children's Non-Fiction", "Children's Picture Book", "Preschool  Picture Book", 
                                                                                 "Children's Fiction", "Children's Paperback", "Children's Easy Reader", 
                                                                                 "Children's Board Book", "Children's Easy Reader Paperback", "Children's Picture Paperback", 
                                                                                 "Children's Audiobook", "Storytime Collection", "Readalongs", "Children's Magazine", 
                                                                                 "Children's Reference", "Children's Non-Fiction Paperback"], "Children")
    librarycleaner = librarycleaner[~librarycleaner["ItemLocation"].isin(["Childrens Bookmobile", "Adult Bookmobile", "Content Management"])]
    librarycleaner["ItemLocation"] = librarycleaner["ItemLocation"].replace(["Remote Shelving - Main", "Childrens Main Library", "Main Teen"], "Main")
    librarycleaner["ItemLocation"] = librarycleaner["ItemLocation"].replace("Remote Shelving - Shawnee", "Shawnee")
    return(librarycleaner)
librarysorted = combining_collections(librarycleaner)

C:\Users\Nick Campbell\AppData\Local\Temp\ipykernel_3208\693896050.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  librarycleaner["ItemCollection"] = librarycleaner["ItemCollection"].replace(["Adult Non-Fiction", "Adult Fiction", "Adult Paperback", "Adult Audiobook",
C:\Users\Nick Campbell\AppData\Local\Temp\ipykernel_3208\693896050.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  librarycleaner["ItemCollection"] = librarycleaner["ItemCollection"].replace(["Teen Non-Fiction", "Older Teen Fiction", "Younger Teen  Fiction",
C:\Users\Nick Campbell\AppData\Local\Temp\ipykernel_3208\693896050.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  librarycleaner["ItemCollection"] = librarycleaner["ItemCollection"].replace(["Children's Non-Fiction", "Children's Picture Book", "Preschool  Picture Book",

In [31]:
library_by_location = librarysorted[['ItemCollection','ItemLocation']].groupby(['ItemLocation']).value_counts(normalize=True)*100

In [32]:
library_by_location

# library_by_location.to_csv("library_by_location.csv")

ItemLocation             ItemCollection
Bon Air                  Adult             65.917834
                         Children          29.540591
                         Teen               4.541575
Crescent Hill            Adult             60.847896
                         Children          34.599784
                         Teen               4.552319
Fairdale                 Adult             56.611392
                         Children          35.426712
                         Teen               7.961896
Highlands - Shelby Park  Adult             61.031494
                         Children          33.311165
                         Teen               5.657341
Iroquois                 Adult             60.668530
                         Children          32.782274
                         Teen               6.549196
Jeffersontown            Adult             62.177279
                         Children          33.046985
                         Teen               4.775737
Main                     Adult             87.858352
                         Children          10.452708
                         Teen               1.688940
Middletown               Adult             49.368806
                         Children          43.994809
                         Teen               6.636385
Newburg                  Adult             46.076052
                         Children          45.351942
                         Teen               8.572006
Northeast                Adult             48.997190
                         Children          44.958712
                         Teen               6.044097
Portland                 Adult             48.834331
                         Children          43.518327
                         Teen               7.647342
Shawnee                  Children          42.269571
                         Adult             35.495581
                         Teen              22.234848
Shively                  Adult             50.433053
                         Children          41.100659
                         Teen               8.466288
South Central            Adult             58.309388
                         Children          34.851490
                         Teen               6.839122
Southwest                Adult             64.511716
                         Children          28.970632
                         Teen               6.517652
St Matthews              Adult             64.038441
                         Children          30.654409
                         Teen               5.307150
Western                  Adult             55.684105
                         Children          36.061825
                         Teen               8.254070
Name: proportion, dtype: float64

In [103]:
# library_by_location["zipcode"] = library_by_location["zipcode"].apply(lambda "ItemLocation": "40220" if "ItemLocation" == "Bon Air" else "shoot")

# library_by_location
# Bon_Air_zipcode = Bon_Air(Bon_Air['zipcode'] = "40220")

# librarysorted['zipcode'] = np.where(librarysorted['ItemLocation'] = Bon Air, '40220')

# def things_that_suck(library):
    # if (library_by_location['ItemLocation'] == "Bon Air"):
    #     return library_by_location["zipcode"] == "40220"
    # else:
    #     return library_by_location["zipcode"] == "other"
#     # return(things_that_suck)
# def zips(librarysorted):
#     zipcode = []
#     for value in librarysorted["ItemLocation"]:
#         if value == "Bon Air":
#             zipcode.append("40220")
#     # elif value != "100":
#     #     result.append("Invalid")
#         else:
#             zipcode.append("Fail")
#     librarysorted["zipcode"] = zipcode
#     return(librarysorted)

# library2 = zips(librarysorted)
# library2
# map function > make a dictionary of libraries df.map after making a dictionary
map_dict = {'Bon Air':'40220', 'Crescent Hill': , 'Fairdale': , 'Highlands - Shelby Park': , 
            'Iroquois': , 'Jeffersontown': , 'Main': , 'Middletown': , 'Newburg': , 'Northeast': , 
            'Portland': , 'Shawnee': , 'Shively': , 'South Central': , 'Southwest': , 'St Matthews': , 
            'Western': }

# library_by_location['zipcode'] = library_by_location['ItemLocation'].map(map_dict)

KeyboardInterrupt:

In [18]:
library_by_year = librarysorted[['PublicationYear','ItemLocation']].groupby(['ItemLocation']).value_counts(normalize=True)*100
library_by_year
# this is interesting but I am not sure how I would plot this precisely...
# I am also unsure what I want to do with it

ItemLocation  PublicationYear
Bon Air       2018               7.613933
              2017               6.735554
              2015               6.539921
              2019               6.417814
              2020               6.365295
                                   ...
Western       1888               0.004573
              1892               0.004573
              1894               0.004573
              1898               0.004573
              1901               0.004573
Name: proportion, Length: 2026, dtype: float64

Downloaded CSVs from https://data.census.gov/
The Age and Sex for each zipcode (minus 40225 which did not have one) provided by American Community Survey

In [37]:
zip40023 = pd.read_csv("./zipcodes/40023.csv")
zip40025 = pd.read_csv("./zipcodes/40025.csv")
zip40041 = pd.read_csv("./zipcodes/40041.csv")
zip40047 = pd.read_csv("./zipcodes/40047.csv")
zip40059 = pd.read_csv("./zipcodes/40059.csv")
zip40067 = pd.read_csv("./zipcodes/40067.csv")
zip40118 = pd.read_csv("./zipcodes/40118.csv")
zip40177 = pd.read_csv("./zipcodes/40177.csv")
zip40202 = pd.read_csv("./zipcodes/40202.csv")
zip40203 = pd.read_csv("./zipcodes/40203.csv")
zip40204 = pd.read_csv("./zipcodes/40204.csv")
zip40205 = pd.read_csv("./zipcodes/40205.csv")
zip40206 = pd.read_csv("./zipcodes/40206.csv")
zip40207 = pd.read_csv("./zipcodes/40207.csv")
zip40208 = pd.read_csv("./zipcodes/40208.csv")
zip40209 = pd.read_csv("./zipcodes/40209.csv")
zip40210 = pd.read_csv("./zipcodes/40210.csv")
zip40211 = pd.read_csv("./zipcodes/40211.csv")
zip40212 = pd.read_csv("./zipcodes/40212.csv")
zip40213 = pd.read_csv("./zipcodes/40213.csv")
zip40214 = pd.read_csv("./zipcodes/40214.csv")
zip40215 = pd.read_csv("./zipcodes/40215.csv")
zip40216 = pd.read_csv("./zipcodes/40216.csv")
zip40217 = pd.read_csv("./zipcodes/40217.csv")
zip40218 = pd.read_csv("./zipcodes/40218.csv")
zip40219 = pd.read_csv("./zipcodes/40219.csv")
zip40220 = pd.read_csv("./zipcodes/40220.csv")
zip40222 = pd.read_csv("./zipcodes/40222.csv")
zip40223 = pd.read_csv("./zipcodes/40223.csv")
zip40228 = pd.read_csv("./zipcodes/40228.csv")
zip40229 = pd.read_csv("./zipcodes/40229.csv")
zip40241 = pd.read_csv("./zipcodes/40241.csv")
zip40242 = pd.read_csv("./zipcodes/40242.csv")
zip40243 = pd.read_csv("./zipcodes/40243.csv")
zip40245 = pd.read_csv("./zipcodes/40245.csv")
zip40258 = pd.read_csv("./zipcodes/40258.csv")
zip40272 = pd.read_csv("./zipcodes/40272.csv")
zip40291 = pd.read_csv("./zipcodes/40291.csv")
zip40299 = pd.read_csv("./zipcodes/40299.csv")

In [38]:
zip40023["zipcode"] = "40023"
zip40025["zipcode"] = "40025"
zip40041["zipcode"] = "40041"
zip40047["zipcode"] = "40047"
zip40059["zipcode"] = "40059"
zip40067["zipcode"] = "40067"
zip40118["zipcode"] = "40118"
zip40177["zipcode"] = "40177"
zip40202["zipcode"] = "40202"
zip40203["zipcode"] = "40203"
zip40204["zipcode"] = "40204"
zip40205["zipcode"] = "40205"
zip40206["zipcode"] = "40206"
zip40207["zipcode"] = "40207"
zip40208["zipcode"] = "40208"
zip40209["zipcode"] = "40209"
zip40210["zipcode"] = "40210"
zip40211["zipcode"] = "40211"
zip40212["zipcode"] = "40212"
zip40213["zipcode"] = "40213"
zip40214["zipcode"] = "40214"
zip40215["zipcode"] = "40215"
zip40216["zipcode"] = "40216"
zip40217["zipcode"] = "40217"
zip40218["zipcode"] = "40218"
zip40219["zipcode"] = "40219"
zip40220["zipcode"] = "40220"
zip40222["zipcode"] = "40222"
zip40223["zipcode"] = "40223"
zip40228["zipcode"] = "40228"
zip40229["zipcode"] = "40229"
zip40241["zipcode"] = "40241"
zip40242["zipcode"] = "40242"
zip40243["zipcode"] = "40243"
zip40245["zipcode"] = "40245"
zip40258["zipcode"] = "40258"
zip40272["zipcode"] = "40272"
zip40291["zipcode"] = "40291"
zip40299["zipcode"] = "40299"

In [39]:
zip40023.rename(columns={'ZCTA5 40023!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40023!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40023.drop(['ZCTA5 40023!!Total!!Margin of Error',
               'ZCTA5 40023!!Percent!!Margin of Error',
               'ZCTA5 40023!!Male!!Estimate',
               'ZCTA5 40023!!Male!!Margin of Error',
               'ZCTA5 40023!!Percent Male!!Estimate',
               'ZCTA5 40023!!Percent Male!!Margin of Error',
               'ZCTA5 40023!!Female!!Estimate',
               'ZCTA5 40023!!Female!!Margin of Error',
               'ZCTA5 40023!!Percent Female!!Estimate',
               'ZCTA5 40023!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40023 = zip40023.drop(zip40023.index[20:])

zip40025.rename(columns={'ZCTA5 40025!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40025!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40025.drop(['ZCTA5 40025!!Total!!Margin of Error',
               'ZCTA5 40025!!Percent!!Margin of Error',
               'ZCTA5 40025!!Male!!Estimate',
               'ZCTA5 40025!!Male!!Margin of Error',
               'ZCTA5 40025!!Percent Male!!Estimate',
               'ZCTA5 40025!!Percent Male!!Margin of Error',
               'ZCTA5 40025!!Female!!Estimate',
               'ZCTA5 40025!!Female!!Margin of Error',
               'ZCTA5 40025!!Percent Female!!Estimate',
               'ZCTA5 40025!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40025 = zip40025.drop(zip40025.index[20:])

zip40041.rename(columns={'ZCTA5 40041!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40041!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40041.drop(['ZCTA5 40041!!Total!!Margin of Error',
               'ZCTA5 40041!!Percent!!Margin of Error',
               'ZCTA5 40041!!Male!!Estimate',
               'ZCTA5 40041!!Male!!Margin of Error',
               'ZCTA5 40041!!Percent Male!!Estimate',
               'ZCTA5 40041!!Percent Male!!Margin of Error',
               'ZCTA5 40041!!Female!!Estimate',
               'ZCTA5 40041!!Female!!Margin of Error',
               'ZCTA5 40041!!Percent Female!!Estimate',
               'ZCTA5 40041!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40041 = zip40041.drop(zip40041.index[20:])

zip40047.rename(columns={'ZCTA5 40047!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40047!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40047.drop(['ZCTA5 40047!!Total!!Margin of Error',
               'ZCTA5 40047!!Percent!!Margin of Error',
               'ZCTA5 40047!!Male!!Estimate',
               'ZCTA5 40047!!Male!!Margin of Error',
               'ZCTA5 40047!!Percent Male!!Estimate',
               'ZCTA5 40047!!Percent Male!!Margin of Error',
               'ZCTA5 40047!!Female!!Estimate',
               'ZCTA5 40047!!Female!!Margin of Error',
               'ZCTA5 40047!!Percent Female!!Estimate',
               'ZCTA5 40047!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40047 = zip40047.drop(zip40047.index[20:])

zip40059.rename(columns={'ZCTA5 40059!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40059!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40059.drop(['ZCTA5 40059!!Total!!Margin of Error',
               'ZCTA5 40059!!Percent!!Margin of Error',
               'ZCTA5 40059!!Male!!Estimate',
               'ZCTA5 40059!!Male!!Margin of Error',
               'ZCTA5 40059!!Percent Male!!Estimate',
               'ZCTA5 40059!!Percent Male!!Margin of Error',
               'ZCTA5 40059!!Female!!Estimate',
               'ZCTA5 40059!!Female!!Margin of Error',
               'ZCTA5 40059!!Percent Female!!Estimate',
               'ZCTA5 40059!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40059 = zip40059.drop(zip40059.index[20:])

zip40067.rename(columns={'ZCTA5 40067!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40067!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40067.drop(['ZCTA5 40067!!Total!!Margin of Error',
               'ZCTA5 40067!!Percent!!Margin of Error',
               'ZCTA5 40067!!Male!!Estimate',
               'ZCTA5 40067!!Male!!Margin of Error',
               'ZCTA5 40067!!Percent Male!!Estimate',
               'ZCTA5 40067!!Percent Male!!Margin of Error',
               'ZCTA5 40067!!Female!!Estimate',
               'ZCTA5 40067!!Female!!Margin of Error',
               'ZCTA5 40067!!Percent Female!!Estimate',
               'ZCTA5 40067!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40067 = zip40067.drop(zip40067.index[20:])

zip40118.rename(columns={'ZCTA5 40118!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40118!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40118.drop(['ZCTA5 40118!!Total!!Margin of Error',
               'ZCTA5 40118!!Percent!!Margin of Error',
               'ZCTA5 40118!!Male!!Estimate',
               'ZCTA5 40118!!Male!!Margin of Error',
               'ZCTA5 40118!!Percent Male!!Estimate',
               'ZCTA5 40118!!Percent Male!!Margin of Error',
               'ZCTA5 40118!!Female!!Estimate',
               'ZCTA5 40118!!Female!!Margin of Error',
               'ZCTA5 40118!!Percent Female!!Estimate',
               'ZCTA5 40118!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40118 = zip40118.drop(zip40118.index[20:])

zip40177.rename(columns={'ZCTA5 40177!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40177!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40177.drop(['ZCTA5 40177!!Total!!Margin of Error',
               'ZCTA5 40177!!Percent!!Margin of Error',
               'ZCTA5 40177!!Male!!Estimate',
               'ZCTA5 40177!!Male!!Margin of Error',
               'ZCTA5 40177!!Percent Male!!Estimate',
               'ZCTA5 40177!!Percent Male!!Margin of Error',
               'ZCTA5 40177!!Female!!Estimate',
               'ZCTA5 40177!!Female!!Margin of Error',
               'ZCTA5 40177!!Percent Female!!Estimate',
               'ZCTA5 40177!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40177 = zip40177.drop(zip40177.index[20:])

zip40202.rename(columns={'ZCTA5 40202!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40202!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40202.drop(['ZCTA5 40202!!Total!!Margin of Error',
               'ZCTA5 40202!!Percent!!Margin of Error',
               'ZCTA5 40202!!Male!!Estimate',
               'ZCTA5 40202!!Male!!Margin of Error',
               'ZCTA5 40202!!Percent Male!!Estimate',
               'ZCTA5 40202!!Percent Male!!Margin of Error',
               'ZCTA5 40202!!Female!!Estimate',
               'ZCTA5 40202!!Female!!Margin of Error',
               'ZCTA5 40202!!Percent Female!!Estimate',
               'ZCTA5 40202!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40202 = zip40202.drop(zip40202.index[20:])

zip40203.rename(columns={'ZCTA5 40203!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40203!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40203.drop(['ZCTA5 40203!!Total!!Margin of Error',
               'ZCTA5 40203!!Percent!!Margin of Error',
               'ZCTA5 40203!!Male!!Estimate',
               'ZCTA5 40203!!Male!!Margin of Error',
               'ZCTA5 40203!!Percent Male!!Estimate',
               'ZCTA5 40203!!Percent Male!!Margin of Error',
               'ZCTA5 40203!!Female!!Estimate',
               'ZCTA5 40203!!Female!!Margin of Error',
               'ZCTA5 40203!!Percent Female!!Estimate',
               'ZCTA5 40203!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40203 = zip40203.drop(zip40203.index[20:])

zip40204.rename(columns={'ZCTA5 40204!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40204!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40204.drop(['ZCTA5 40204!!Total!!Margin of Error',
               'ZCTA5 40204!!Percent!!Margin of Error',
               'ZCTA5 40204!!Male!!Estimate',
               'ZCTA5 40204!!Male!!Margin of Error',
               'ZCTA5 40204!!Percent Male!!Estimate',
               'ZCTA5 40204!!Percent Male!!Margin of Error',
               'ZCTA5 40204!!Female!!Estimate',
               'ZCTA5 40204!!Female!!Margin of Error',
               'ZCTA5 40204!!Percent Female!!Estimate',
               'ZCTA5 40204!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40204 = zip40204.drop(zip40204.index[20:])

zip40205.rename(columns={'ZCTA5 40205!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40205!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40205.drop(['ZCTA5 40205!!Total!!Margin of Error',
               'ZCTA5 40205!!Percent!!Margin of Error',
               'ZCTA5 40205!!Male!!Estimate',
               'ZCTA5 40205!!Male!!Margin of Error',
               'ZCTA5 40205!!Percent Male!!Estimate',
               'ZCTA5 40205!!Percent Male!!Margin of Error',
               'ZCTA5 40205!!Female!!Estimate',
               'ZCTA5 40205!!Female!!Margin of Error',
               'ZCTA5 40205!!Percent Female!!Estimate',
               'ZCTA5 40205!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40205 = zip40205.drop(zip40205.index[20:])

zip40206.rename(columns={'ZCTA5 40206!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40206!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40206.drop(['ZCTA5 40206!!Total!!Margin of Error',
               'ZCTA5 40206!!Percent!!Margin of Error',
               'ZCTA5 40206!!Male!!Estimate',
               'ZCTA5 40206!!Male!!Margin of Error',
               'ZCTA5 40206!!Percent Male!!Estimate',
               'ZCTA5 40206!!Percent Male!!Margin of Error',
               'ZCTA5 40206!!Female!!Estimate',
               'ZCTA5 40206!!Female!!Margin of Error',
               'ZCTA5 40206!!Percent Female!!Estimate',
               'ZCTA5 40206!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40206 = zip40206.drop(zip40206.index[20:])

zip40207.rename(columns={'ZCTA5 40207!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40207!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40207.drop(['ZCTA5 40207!!Total!!Margin of Error',
               'ZCTA5 40207!!Percent!!Margin of Error',
               'ZCTA5 40207!!Male!!Estimate',
               'ZCTA5 40207!!Male!!Margin of Error',
               'ZCTA5 40207!!Percent Male!!Estimate',
               'ZCTA5 40207!!Percent Male!!Margin of Error',
               'ZCTA5 40207!!Female!!Estimate',
               'ZCTA5 40207!!Female!!Margin of Error',
               'ZCTA5 40207!!Percent Female!!Estimate',
               'ZCTA5 40207!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40207 = zip40207.drop(zip40207.index[20:])

zip40208.rename(columns={'ZCTA5 40208!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40208!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40208.drop(['ZCTA5 40208!!Total!!Margin of Error',
               'ZCTA5 40208!!Percent!!Margin of Error',
               'ZCTA5 40208!!Male!!Estimate',
               'ZCTA5 40208!!Male!!Margin of Error',
               'ZCTA5 40208!!Percent Male!!Estimate',
               'ZCTA5 40208!!Percent Male!!Margin of Error',
               'ZCTA5 40208!!Female!!Estimate',
               'ZCTA5 40208!!Female!!Margin of Error',
               'ZCTA5 40208!!Percent Female!!Estimate',
               'ZCTA5 40208!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40208 = zip40208.drop(zip40208.index[20:])

zip40209.rename(columns={'ZCTA5 40209!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40209!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40209.drop(['ZCTA5 40209!!Total!!Margin of Error',
               'ZCTA5 40209!!Percent!!Margin of Error',
               'ZCTA5 40209!!Male!!Estimate',
               'ZCTA5 40209!!Male!!Margin of Error',
               'ZCTA5 40209!!Percent Male!!Estimate',
               'ZCTA5 40209!!Percent Male!!Margin of Error',
               'ZCTA5 40209!!Female!!Estimate',
               'ZCTA5 40209!!Female!!Margin of Error',
               'ZCTA5 40209!!Percent Female!!Estimate',
               'ZCTA5 40209!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40209 = zip40209.drop(zip40209.index[20:])

zip40210.rename(columns={'ZCTA5 40210!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40210!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40210.drop(['ZCTA5 40210!!Total!!Margin of Error',
               'ZCTA5 40210!!Percent!!Margin of Error',
               'ZCTA5 40210!!Male!!Estimate',
               'ZCTA5 40210!!Male!!Margin of Error',
               'ZCTA5 40210!!Percent Male!!Estimate',
               'ZCTA5 40210!!Percent Male!!Margin of Error',
               'ZCTA5 40210!!Female!!Estimate',
               'ZCTA5 40210!!Female!!Margin of Error',
               'ZCTA5 40210!!Percent Female!!Estimate',
               'ZCTA5 40210!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40210 = zip40210.drop(zip40210.index[20:])

zip40211.rename(columns={'ZCTA5 40211!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40211!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40211.drop(['ZCTA5 40211!!Total!!Margin of Error',
               'ZCTA5 40211!!Percent!!Margin of Error',
               'ZCTA5 40211!!Male!!Estimate',
               'ZCTA5 40211!!Male!!Margin of Error',
               'ZCTA5 40211!!Percent Male!!Estimate',
               'ZCTA5 40211!!Percent Male!!Margin of Error',
               'ZCTA5 40211!!Female!!Estimate',
               'ZCTA5 40211!!Female!!Margin of Error',
               'ZCTA5 40211!!Percent Female!!Estimate',
               'ZCTA5 40211!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40211 = zip40211.drop(zip40211.index[20:])

zip40212.rename(columns={'ZCTA5 40212!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40212!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40212.drop(['ZCTA5 40212!!Total!!Margin of Error',
               'ZCTA5 40212!!Percent!!Margin of Error',
               'ZCTA5 40212!!Male!!Estimate',
               'ZCTA5 40212!!Male!!Margin of Error',
               'ZCTA5 40212!!Percent Male!!Estimate',
               'ZCTA5 40212!!Percent Male!!Margin of Error',
               'ZCTA5 40212!!Female!!Estimate',
               'ZCTA5 40212!!Female!!Margin of Error',
               'ZCTA5 40212!!Percent Female!!Estimate',
               'ZCTA5 40212!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40212 = zip40212.drop(zip40212.index[20:])

zip40213.rename(columns={'ZCTA5 40213!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40213!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40213.drop(['ZCTA5 40213!!Total!!Margin of Error',
               'ZCTA5 40213!!Percent!!Margin of Error',
               'ZCTA5 40213!!Male!!Estimate',
               'ZCTA5 40213!!Male!!Margin of Error',
               'ZCTA5 40213!!Percent Male!!Estimate',
               'ZCTA5 40213!!Percent Male!!Margin of Error',
               'ZCTA5 40213!!Female!!Estimate',
               'ZCTA5 40213!!Female!!Margin of Error',
               'ZCTA5 40213!!Percent Female!!Estimate',
               'ZCTA5 40213!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40213 = zip40213.drop(zip40213.index[20:])

zip40214.rename(columns={'ZCTA5 40214!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40214!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40214.drop(['ZCTA5 40214!!Total!!Margin of Error',
               'ZCTA5 40214!!Percent!!Margin of Error',
               'ZCTA5 40214!!Male!!Estimate',
               'ZCTA5 40214!!Male!!Margin of Error',
               'ZCTA5 40214!!Percent Male!!Estimate',
               'ZCTA5 40214!!Percent Male!!Margin of Error',
               'ZCTA5 40214!!Female!!Estimate',
               'ZCTA5 40214!!Female!!Margin of Error',
               'ZCTA5 40214!!Percent Female!!Estimate',
               'ZCTA5 40214!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40214 = zip40214.drop(zip40214.index[20:])

zip40215.rename(columns={'ZCTA5 40215!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40215!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40215.drop(['ZCTA5 40215!!Total!!Margin of Error',
               'ZCTA5 40215!!Percent!!Margin of Error',
               'ZCTA5 40215!!Male!!Estimate',
               'ZCTA5 40215!!Male!!Margin of Error',
               'ZCTA5 40215!!Percent Male!!Estimate',
               'ZCTA5 40215!!Percent Male!!Margin of Error',
               'ZCTA5 40215!!Female!!Estimate',
               'ZCTA5 40215!!Female!!Margin of Error',
               'ZCTA5 40215!!Percent Female!!Estimate',
               'ZCTA5 40215!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40215 = zip40215.drop(zip40215.index[20:])

zip40216.rename(columns={'ZCTA5 40216!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40216!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40216.drop(['ZCTA5 40216!!Total!!Margin of Error',
               'ZCTA5 40216!!Percent!!Margin of Error',
               'ZCTA5 40216!!Male!!Estimate',
               'ZCTA5 40216!!Male!!Margin of Error',
               'ZCTA5 40216!!Percent Male!!Estimate',
               'ZCTA5 40216!!Percent Male!!Margin of Error',
               'ZCTA5 40216!!Female!!Estimate',
               'ZCTA5 40216!!Female!!Margin of Error',
               'ZCTA5 40216!!Percent Female!!Estimate',
               'ZCTA5 40216!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40216 = zip40216.drop(zip40216.index[20:])

zip40217.rename(columns={'ZCTA5 40217!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40217!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40217.drop(['ZCTA5 40217!!Total!!Margin of Error',
               'ZCTA5 40217!!Percent!!Margin of Error',
               'ZCTA5 40217!!Male!!Estimate',
               'ZCTA5 40217!!Male!!Margin of Error',
               'ZCTA5 40217!!Percent Male!!Estimate',
               'ZCTA5 40217!!Percent Male!!Margin of Error',
               'ZCTA5 40217!!Female!!Estimate',
               'ZCTA5 40217!!Female!!Margin of Error',
               'ZCTA5 40217!!Percent Female!!Estimate',
               'ZCTA5 40217!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40217 = zip40217.drop(zip40217.index[20:])

zip40218.rename(columns={'ZCTA5 40218!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40218!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40218.drop(['ZCTA5 40218!!Total!!Margin of Error',
               'ZCTA5 40218!!Percent!!Margin of Error',
               'ZCTA5 40218!!Male!!Estimate',
               'ZCTA5 40218!!Male!!Margin of Error',
               'ZCTA5 40218!!Percent Male!!Estimate',
               'ZCTA5 40218!!Percent Male!!Margin of Error',
               'ZCTA5 40218!!Female!!Estimate',
               'ZCTA5 40218!!Female!!Margin of Error',
               'ZCTA5 40218!!Percent Female!!Estimate',
               'ZCTA5 40218!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40218 = zip40218.drop(zip40218.index[20:])

zip40219.rename(columns={'ZCTA5 40219!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40219!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40219.drop(['ZCTA5 40219!!Total!!Margin of Error',
               'ZCTA5 40219!!Percent!!Margin of Error',
               'ZCTA5 40219!!Male!!Estimate',
               'ZCTA5 40219!!Male!!Margin of Error',
               'ZCTA5 40219!!Percent Male!!Estimate',
               'ZCTA5 40219!!Percent Male!!Margin of Error',
               'ZCTA5 40219!!Female!!Estimate',
               'ZCTA5 40219!!Female!!Margin of Error',
               'ZCTA5 40219!!Percent Female!!Estimate',
               'ZCTA5 40219!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40219 = zip40219.drop(zip40219.index[20:])

zip40220.rename(columns={'ZCTA5 40220!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40220!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40220.drop(['ZCTA5 40220!!Total!!Margin of Error',
               'ZCTA5 40220!!Percent!!Margin of Error',
               'ZCTA5 40220!!Male!!Estimate',
               'ZCTA5 40220!!Male!!Margin of Error',
               'ZCTA5 40220!!Percent Male!!Estimate',
               'ZCTA5 40220!!Percent Male!!Margin of Error',
               'ZCTA5 40220!!Female!!Estimate',
               'ZCTA5 40220!!Female!!Margin of Error',
               'ZCTA5 40220!!Percent Female!!Estimate',
               'ZCTA5 40220!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40220 = zip40220.drop(zip40220.index[20:])

zip40222.rename(columns={'ZCTA5 40222!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40222!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40222.drop(['ZCTA5 40222!!Total!!Margin of Error',
               'ZCTA5 40222!!Percent!!Margin of Error',
               'ZCTA5 40222!!Male!!Estimate',
               'ZCTA5 40222!!Male!!Margin of Error',
               'ZCTA5 40222!!Percent Male!!Estimate',
               'ZCTA5 40222!!Percent Male!!Margin of Error',
               'ZCTA5 40222!!Female!!Estimate',
               'ZCTA5 40222!!Female!!Margin of Error',
               'ZCTA5 40222!!Percent Female!!Estimate',
               'ZCTA5 40222!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40222 = zip40222.drop(zip40222.index[20:])

zip40223.rename(columns={'ZCTA5 40223!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40223!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40223.drop(['ZCTA5 40223!!Total!!Margin of Error',
               'ZCTA5 40223!!Percent!!Margin of Error',
               'ZCTA5 40223!!Male!!Estimate',
               'ZCTA5 40223!!Male!!Margin of Error',
               'ZCTA5 40223!!Percent Male!!Estimate',
               'ZCTA5 40223!!Percent Male!!Margin of Error',
               'ZCTA5 40223!!Female!!Estimate',
               'ZCTA5 40223!!Female!!Margin of Error',
               'ZCTA5 40223!!Percent Female!!Estimate',
               'ZCTA5 40223!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40223 = zip40223.drop(zip40223.index[20:])

zip40228.rename(columns={'ZCTA5 40228!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40228!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40228.drop(['ZCTA5 40228!!Total!!Margin of Error',
               'ZCTA5 40228!!Percent!!Margin of Error',
               'ZCTA5 40228!!Male!!Estimate',
               'ZCTA5 40228!!Male!!Margin of Error',
               'ZCTA5 40228!!Percent Male!!Estimate',
               'ZCTA5 40228!!Percent Male!!Margin of Error',
               'ZCTA5 40228!!Female!!Estimate',
               'ZCTA5 40228!!Female!!Margin of Error',
               'ZCTA5 40228!!Percent Female!!Estimate',
               'ZCTA5 40228!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40228 = zip40228.drop(zip40228.index[20:])

zip40229.rename(columns={'ZCTA5 40229!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40229!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40229.drop(['ZCTA5 40229!!Total!!Margin of Error',
               'ZCTA5 40229!!Percent!!Margin of Error',
               'ZCTA5 40229!!Male!!Estimate',
               'ZCTA5 40229!!Male!!Margin of Error',
               'ZCTA5 40229!!Percent Male!!Estimate',
               'ZCTA5 40229!!Percent Male!!Margin of Error',
               'ZCTA5 40229!!Female!!Estimate',
               'ZCTA5 40229!!Female!!Margin of Error',
               'ZCTA5 40229!!Percent Female!!Estimate',
               'ZCTA5 40229!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40229 = zip40229.drop(zip40229.index[20:])

zip40241.rename(columns={'ZCTA5 40241!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40241!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40241.drop(['ZCTA5 40241!!Total!!Margin of Error',
               'ZCTA5 40241!!Percent!!Margin of Error',
               'ZCTA5 40241!!Male!!Estimate',
               'ZCTA5 40241!!Male!!Margin of Error',
               'ZCTA5 40241!!Percent Male!!Estimate',
               'ZCTA5 40241!!Percent Male!!Margin of Error',
               'ZCTA5 40241!!Female!!Estimate',
               'ZCTA5 40241!!Female!!Margin of Error',
               'ZCTA5 40241!!Percent Female!!Estimate',
               'ZCTA5 40241!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40241 = zip40241.drop(zip40241.index[20:])

zip40242.rename(columns={'ZCTA5 40242!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40242!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40242.drop(['ZCTA5 40242!!Total!!Margin of Error',
               'ZCTA5 40242!!Percent!!Margin of Error',
               'ZCTA5 40242!!Male!!Estimate',
               'ZCTA5 40242!!Male!!Margin of Error',
               'ZCTA5 40242!!Percent Male!!Estimate',
               'ZCTA5 40242!!Percent Male!!Margin of Error',
               'ZCTA5 40242!!Female!!Estimate',
               'ZCTA5 40242!!Female!!Margin of Error',
               'ZCTA5 40242!!Percent Female!!Estimate',
               'ZCTA5 40242!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40242 = zip40242.drop(zip40242.index[20:])

zip40243.rename(columns={'ZCTA5 40243!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40243!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40243.drop(['ZCTA5 40243!!Total!!Margin of Error',
               'ZCTA5 40243!!Percent!!Margin of Error',
               'ZCTA5 40243!!Male!!Estimate',
               'ZCTA5 40243!!Male!!Margin of Error',
               'ZCTA5 40243!!Percent Male!!Estimate',
               'ZCTA5 40243!!Percent Male!!Margin of Error',
               'ZCTA5 40243!!Female!!Estimate',
               'ZCTA5 40243!!Female!!Margin of Error',
               'ZCTA5 40243!!Percent Female!!Estimate',
               'ZCTA5 40243!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40243 = zip40243.drop(zip40243.index[20:])

zip40245.rename(columns={'ZCTA5 40245!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40245!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40245.drop(['ZCTA5 40245!!Total!!Margin of Error',
               'ZCTA5 40245!!Percent!!Margin of Error',
               'ZCTA5 40245!!Male!!Estimate',
               'ZCTA5 40245!!Male!!Margin of Error',
               'ZCTA5 40245!!Percent Male!!Estimate',
               'ZCTA5 40245!!Percent Male!!Margin of Error',
               'ZCTA5 40245!!Female!!Estimate',
               'ZCTA5 40245!!Female!!Margin of Error',
               'ZCTA5 40245!!Percent Female!!Estimate',
               'ZCTA5 40245!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40245 = zip40245.drop(zip40245.index[20:])

zip40258.rename(columns={'ZCTA5 40258!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40258!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40258.drop(['ZCTA5 40258!!Total!!Margin of Error',
               'ZCTA5 40258!!Percent!!Margin of Error',
               'ZCTA5 40258!!Male!!Estimate',
               'ZCTA5 40258!!Male!!Margin of Error',
               'ZCTA5 40258!!Percent Male!!Estimate',
               'ZCTA5 40258!!Percent Male!!Margin of Error',
               'ZCTA5 40258!!Female!!Estimate',
               'ZCTA5 40258!!Female!!Margin of Error',
               'ZCTA5 40258!!Percent Female!!Estimate',
               'ZCTA5 40258!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40258 = zip40258.drop(zip40258.index[20:])

zip40272.rename(columns={'ZCTA5 40272!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40272!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40272.drop(['ZCTA5 40272!!Total!!Margin of Error',
               'ZCTA5 40272!!Percent!!Margin of Error',
               'ZCTA5 40272!!Male!!Estimate',
               'ZCTA5 40272!!Male!!Margin of Error',
               'ZCTA5 40272!!Percent Male!!Estimate',
               'ZCTA5 40272!!Percent Male!!Margin of Error',
               'ZCTA5 40272!!Female!!Estimate',
               'ZCTA5 40272!!Female!!Margin of Error',
               'ZCTA5 40272!!Percent Female!!Estimate',
               'ZCTA5 40272!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40272 = zip40272.drop(zip40272.index[20:])

zip40291.rename(columns={'ZCTA5 40291!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40291!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40291.drop(['ZCTA5 40291!!Total!!Margin of Error',
               'ZCTA5 40291!!Percent!!Margin of Error',
               'ZCTA5 40291!!Male!!Estimate',
               'ZCTA5 40291!!Male!!Margin of Error',
               'ZCTA5 40291!!Percent Male!!Estimate',
               'ZCTA5 40291!!Percent Male!!Margin of Error',
               'ZCTA5 40291!!Female!!Estimate',
               'ZCTA5 40291!!Female!!Margin of Error',
               'ZCTA5 40291!!Percent Female!!Estimate',
               'ZCTA5 40291!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40291 = zip40291.drop(zip40291.index[20:])

zip40299.rename(columns={'ZCTA5 40299!!Total!!Estimate': 'Total Estimate', 
                         'ZCTA5 40299!!Percent!!Estimate': 'Percent Estimate',
                         }, inplace=True)
zip40299.drop(['ZCTA5 40299!!Total!!Margin of Error',
               'ZCTA5 40299!!Percent!!Margin of Error',
               'ZCTA5 40299!!Male!!Estimate',
               'ZCTA5 40299!!Male!!Margin of Error',
               'ZCTA5 40299!!Percent Male!!Estimate',
               'ZCTA5 40299!!Percent Male!!Margin of Error',
               'ZCTA5 40299!!Female!!Estimate',
               'ZCTA5 40299!!Female!!Margin of Error',
               'ZCTA5 40299!!Percent Female!!Estimate',
               'ZCTA5 40299!!Percent Female!!Margin of Error'], axis=1, inplace=True)
zip40299 = zip40299.drop(zip40299.index[20:])

In [40]:
zipcodes_combined = pd.concat([zip40023, zip40025, zip40041, zip40047, zip40059, zip40067, zip40118, zip40177, zip40202,
                               zip40203, zip40204, zip40205, zip40206, zip40207, zip40208, zip40209, zip40210, 
                               zip40211, zip40212, zip40213, zip40214, zip40215, zip40216, zip40217, zip40218, zip40219,
                               zip40220, zip40222, zip40223, zip40228, zip40229, zip40241, zip40242, zip40243, zip40245,
                               zip40258, zip40272, zip40291, zip40299])

In [41]:
pd.set_option('display.max_rows', None)
zipcodes_combined

             Label (Grouping) Total Estimate Percent Estimate zipcode
0            Total population          6,484              (X)   40023
1                         AGE            NaN              NaN   40023
2               Under 5 years            487             7.5%   40023
3                5 to 9 years            302             4.7%   40023
4              10 to 14 years            555             8.6%   40023
5              15 to 19 years            507             7.8%   40023
6              20 to 24 years             61             0.9%   40023
7              25 to 29 years            165             2.5%   40023
8              30 to 34 years            684            10.5%   40023
9              35 to 39 years            217             3.3%   40023
10             40 to 44 years            514             7.9%   40023
11             45 to 49 years            447             6.9%   40023
12             50 to 54 years            598             9.2%   40023
13             55 to 59 years            436             6.7%   40023
14             60 to 64 years            480             7.4%   40023
15             65 to 69 years            577             8.9%   40023
16             70 to 74 years            371             5.7%   40023
17             75 to 79 years             48             0.7%   40023
18             80 to 84 years             29             0.4%   40023
19          85 years and over              6             0.1%   40023
0            Total population            652              (X)   40025
1                         AGE            NaN              NaN   40025
2               Under 5 years             19             2.9%   40025
3                5 to 9 years             80            12.3%   40025
4              10 to 14 years             64             9.8%   40025
5              15 to 19 years             16             2.5%   40025
6              20 to 24 years              8             1.2%   40025
7              25 to 29 years              3             0.5%   40025
8              30 to 34 years              6             0.9%   40025
9              35 to 39 years             17             2.6%   40025
10             40 to 44 years             66            10.1%   40025
11             45 to 49 years             59             9.0%   40025
12             50 to 54 years             37             5.7%   40025
13             55 to 59 years             93            14.3%   40025
14             60 to 64 years             54             8.3%   40025
15             65 to 69 years             50             7.7%   40025
16             70 to 74 years             38             5.8%   40025
17             75 to 79 years             16             2.5%   40025
18             80 to 84 years             13             2.0%   40025
19          85 years and over             13             2.0%   40025
0            Total population            518              (X)   40041
1                         AGE            NaN              NaN   40041
2               Under 5 years              0             0.0%   40041
3                5 to 9 years              0             0.0%   40041
4              10 to 14 years              0             0.0%   40041
5              15 to 19 years              0             0.0%   40041
6              20 to 24 years              0             0.0%   40041
7              25 to 29 years              0             0.0%   40041
8              30 to 34 years              0             0.0%   40041
9              35 to 39 years              0             0.0%   40041
10             40 to 44 years              0             0.0%   40041
11             45 to 49 years              0             0.0%   40041
12             50 to 54 years              8             1.5%   40041
13             55 to 59 years              9             1.7%   40041
14             60 to 64 years              3             0.6%   40041
15             65 to 69 years             35             6.8%   40041
16             70 to 74 years             79            15.3%   40041
17             75 to 79 years             39             7.5%   40041
18             80 to 84 years            154            29.7%   40041
19          85 years and over            191            36.9%   40041
0            Total population         23,160              (X)   40047
1                         AGE            NaN              NaN   40047
2               Under 5 years          1,510             6.5%   40047
3                5 to 9 years          1,853             8.0%   40047
4              10 to 14 years          1,504             6.5%   40047
5              15 to 19 years          1,357             5.9%   40047
6              20 to 24 years          1,143             4.9%   40047
7              25 to 29 years          1,241             5.4%   40047
8              30 to 34 years          1,630             7.0%   40047
9              35 to 39 years          1,552             6.7%   40047
10             40 to 44 years          1,784             7.7%   40047
11             45 to 49 years          1,430             6.2%   40047
12             50 to 54 years          1,756             7.6%   40047
13             55 to 59 years          1,326             5.7%   40047
14             60 to 64 years          1,501             6.5%   40047
15             65 to 69 years          1,162             5.0%   40047
16             70 to 74 years          1,034             4.5%   40047
17             75 to 79 years            553             2.4%   40047
18             80 to 84 years            289             1.2%   40047
19          85 years and over            535             2.3%   40047
0            Total population         19,899              (X)   40059
1                         AGE            NaN              NaN   40059
2               Under 5 years            802             4.0%   40059
3                5 to 9 years          1,080             5.4%   40059
4              10 to 14 years          1,431             7.2%   40059
5              15 to 19 years          1,467             7.4%   40059
6              20 to 24 years            774             3.9%   40059
7              25 to 29 years            350             1.8%   40059
8              30 to 34 years            720             3.6%   40059
9              35 to 39 years          1,220             6.1%   40059
10             40 to 44 years          1,067             5.4%   40059
11             45 to 49 years          1,579             7.9%   40059
12             50 to 54 years          1,765             8.9%   40059
13             55 to 59 years          1,467             7.4%   40059
14             60 to 64 years          1,536             7.7%   40059
15             65 to 69 years          1,027             5.2%   40059
16             70 to 74 years          1,455             7.3%   40059
17             75 to 79 years          1,072             5.4%   40059
18             80 to 84 years            750             3.8%   40059
19          85 years and over            337             1.7%   40059
0            Total population          6,253              (X)   40067
1                         AGE            NaN              NaN   40067
2               Under 5 years            272             4.3%   40067
3                5 to 9 years            310             5.0%   40067
4              10 to 14 years            481             7.7%   40067
5              15 to 19 years            277             4.4%   40067
6              20 to 24 years            446             7.1%   40067
7              25 to 29 years            467             7.5%   40067
8              30 to 34 years            388             6.2%   40067
9              35 to 39 years            515             8.2%   40067
10             40 to 44 years            270             4.3%   40067
11             45 to 49 years            345             5.5%   40067
12             50 to 54 years            333             5.3%   40067
13             55 to 59 years            623            10.0%   40067
14             60 to 64 years            423             6.8%   40067
15             65 to 69 years            386             6.2%   40067
16             70 to 74 years            340             5.4%   40067
17             75 to 79 years            242             3.9%   40067
18             80 to 84 years             77             1.2%   40067
19          85 years and over             58             0.9%   40067
0            Total population          9,903              (X)   40118
1                         AGE            NaN              NaN   40118
2               Under 5 years            986            10.0%   40118
3                5 to 9 years            509             5.1%   40118
4              10 to 14 years            159             1.6%   40118
5              15 to 19 years            755             7.6%   40118
6              20 to 24 years            918             9.3%   40118
7              25 to 29 years            537             5.4%   40118
8              30 to 34 years            546             5.5%   40118
9              35 to 39 years          1,076            10.9%   40118
10             40 to 44 years            477             4.8%   40118
11             45 to 49 years            608             6.1%   40118
12             50 to 54 years            868             8.8%   40118
13             55 to 59 years            308             3.1%   40118
14             60 to 64 years            533             5.4%   40118
15             65 to 69 years            692             7.0%   40118
16             70 to 74 years            399             4.0%   40118
17             75 to 79 years            246             2.5%   40118
18             80 to 84 years            210             2.1%   40118
19          85 years and over             76             0.8%   40118
0            Total population          1,627              (X)   40177
1                         AGE            NaN              NaN   40177
2               Under 5 years             65             4.0%   40177
3                5 to 9 years            172            10.6%   40177
4              10 to 14 years            110             6.8%   40177
5              15 to 19 years             80             4.9%   40177
6              20 to 24 years             38             2.3%   40177
7              25 to 29 years            106             6.5%   40177
8              30 to 34 years             87             5.3%   40177
9              35 to 39 years            146             9.0%   40177
10             40 to 44 years            110             6.8%   40177
11             45 to 49 years             47             2.9%   40177
12             50 to 54 years             53             3.3%   40177
13             55 to 59 years             90             5.5%   40177
14             60 to 64 years            148             9.1%   40177
15             65 to 69 years            132             8.1%   40177
16             70 to 74 years             36             2.2%   40177
17             75 to 79 years             87             5.3%   40177
18             80 to 84 years             71             4.4%   40177
19          85 years and over             49             3.0%   40177
0            Total population          7,109              (X)   40202
1                         AGE            NaN              NaN   40202
2               Under 5 years             14             0.2%   40202
3                5 to 9 years             44             0.6%   40202
4              10 to 14 years             89             1.3%   40202
5              15 to 19 years            212             3.0%   40202
6              20 to 24 years            571             8.0%   40202
7              25 to 29 years          1,131            15.9%   40202
8              30 to 34 years            944            13.3%   40202
9              35 to 39 years            553             7.8%   40202
10             40 to 44 years            511             7.2%   40202
11             45 to 49 years            510             7.2%   40202
12             50 to 54 years            504             7.1%   40202
13             55 to 59 years            505             7.1%   40202
14             60 to 64 years            755            10.6%   40202
15             65 to 69 years            315             4.4%   40202
16             70 to 74 years            200             2.8%   40202
17             75 to 79 years             23             0.3%   40202
18             80 to 84 years            222             3.1%   40202
19          85 years and over              6             0.1%   40202
0            Total population         17,540              (X)   40203
1                         AGE            NaN              NaN   40203
2               Under 5 years          1,195             6.8%   40203
3                5 to 9 years            719             4.1%   40203
4              10 to 14 years            820             4.7%   40203
5              15 to 19 years          1,193             6.8%   40203
6              20 to 24 years          1,505             8.6%   40203
7              25 to 29 years          1,839            10.5%   40203
8              30 to 34 years          1,547             8.8%   40203
9              35 to 39 years            845             4.8%   40203
10             40 to 44 years          1,118             6.4%   40203
11             45 to 49 years            937             5.3%   40203
12             50 to 54 years          1,135             6.5%   40203
13             55 to 59 years          1,138             6.5%   40203
14             60 to 64 years          1,214             6.9%   40203
15             65 to 69 years          1,100             6.3%   40203
16             70 to 74 years            469             2.7%   40203
17             75 to 79 years            348             2.0%   40203
18             80 to 84 years            142             0.8%   40203
19          85 years and over            276             1.6%   40203
0            Total population         14,018              (X)   40204
1                         AGE            NaN              NaN   40204
2               Under 5 years            375             2.7%   40204
3                5 to 9 years            450             3.2%   40204
4              10 to 14 years            423             3.0%   40204
5              15 to 19 years            424             3.0%   40204
6              20 to 24 years          1,082             7.7%   40204
7              25 to 29 years          1,708            12.2%   40204
8              30 to 34 years          1,675            11.9%   40204
9              35 to 39 years          1,161             8.3%   40204
10             40 to 44 years            936             6.7%   40204
11             45 to 49 years            885             6.3%   40204
12             50 to 54 years          1,060             7.6%   40204
13             55 to 59 years            642             4.6%   40204
14             60 to 64 years            981             7.0%   40204
15             65 to 69 years            801             5.7%   40204
16             70 to 74 years            607             4.3%   40204
17             75 to 79 years            468             3.3%   40204
18             80 to 84 years            139             1.0%   40204
19          85 years and over            201             1.4%   40204
0            Total population         24,335              (X)   40205
1                         AGE            NaN              NaN   40205
2               Under 5 years          1,179             4.8%   40205
3                5 to 9 years          1,388             5.7%   40205
4              10 to 14 years          1,401             5.8%   40205
5              15 to 19 years          1,805             7.4%   40205
6              20 to 24 years          1,415             5.8%   40205
7              25 to 29 years          1,282             5.3%   40205
8              30 to 34 years          1,469             6.0%   40205
9              35 to 39 years          1,437             5.9%   40205
10             40 to 44 years          1,708             7.0%   40205
11             45 to 49 years          1,801             7.4%   40205
12             50 to 54 years          1,396             5.7%   40205
13             55 to 59 years          1,603             6.6%   40205
14             60 to 64 years          1,630             6.7%   40205
15             65 to 69 years          1,457             6.0%   40205
16             70 to 74 years          1,456             6.0%   40205
17             75 to 79 years            948             3.9%   40205
18             80 to 84 years            470             1.9%   40205
19          85 years and over            490             2.0%   40205
0            Total population         20,345              (X)   40206
1                         AGE            NaN              NaN   40206
2               Under 5 years            923             4.5%   40206
3                5 to 9 years            710             3.5%   40206
4              10 to 14 years            943             4.6%   40206
5              15 to 19 years            743             3.7%   40206
6              20 to 24 years          1,282             6.3%   40206
7              25 to 29 years          1,973             9.7%   40206
8              30 to 34 years          2,283            11.2%   40206
9              35 to 39 years          1,858             9.1%   40206
10             40 to 44 years          1,229             6.0%   40206
11             45 to 49 years          1,369             6.7%   40206
12             50 to 54 years          1,237             6.1%   40206
13             55 to 59 years          1,085             5.3%   40206
14             60 to 64 years          1,363             6.7%   40206
15             65 to 69 years          1,295             6.4%   40206
16             70 to 74 years            970             4.8%   40206
17             75 to 79 years            636             3.1%   40206
18             80 to 84 years            202             1.0%   40206
19          85 years and over            244             1.2%   40206
0            Total population         28,633              (X)   40207
1                         AGE            NaN              NaN   40207
2               Under 5 years          1,466             5.1%   40207
3                5 to 9 years          1,454             5.1%   40207
4              10 to 14 years          1,499             5.2%   40207
5              15 to 19 years          1,285             4.5%   40207
6              20 to 24 years          1,188             4.1%   40207
7              25 to 29 years          2,120             7.4%   40207
8              30 to 34 years          2,297             8.0%   40207
9              35 to 39 years          1,982             6.9%   40207
10             40 to 44 years          1,861             6.5%   40207
11             45 to 49 years          1,838             6.4%   40207
12             50 to 54 years          1,457             5.1%   40207
13             55 to 59 years          2,108             7.4%   40207
14             60 to 64 years          1,754             6.1%   40207
15             65 to 69 years          1,696             5.9%   40207
16             70 to 74 years          1,697             5.9%   40207
17             75 to 79 years          1,168             4.1%   40207
18             80 to 84 years            752             2.6%   40207
19          85 years and over          1,011             3.5%   40207
0            Total population         15,287              (X)   40208
1                         AGE            NaN              NaN   40208
2               Under 5 years            335             2.2%   40208
3                5 to 9 years            807             5.3%   40208

In [28]:
# use groupby to make the average of children, teen, adult in each zipcode

zipcodes_averaged = zipcodes_combined.loc[[2, 3], 'Percent Estimate'].sum().groupby(['zipcode'])

zipcodes_averaged

AttributeError: 'str' object has no attribute 'groupby'

In [148]:
# This drops columns when they are all combined... but I changed and did it before they were combined so the concat
# would work vertical instead of side by side.

# zipcodes_filtered = zipcodes_combined.loc[:,~zipcodes_combined.columns.str.contains('female', case=False)]
# zipcodes_filtered1 = zipcodes_filtered.loc[:,~zipcodes_filtered.columns.str.contains('male', case=False)]
# zipcodes_filtered2 = zipcodes_filtered1.loc[:,~zipcodes_filtered1.columns.str.contains('Error', case=False)]